<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }} &bull; hpfxd</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:site_name" content="hpfxd">
	<meta property="og:title" content="{{ page.title }}">
	<meta property="og:description" content="{{ page.description }}">
	<meta property="og:image" content="/assets/img/logo.png">

	<link rel="icon" type="image/png" href="/assets/img/logo.png">
</head>
<body>
	<div class="content">
		<div class="page">
			{{ page.content }}
		</div>
	</div>

	<link rel="stylesheet" href="/assets/css/base.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>
</html>
